*.iml
.idea/
#Back
crypto-back/target/**
crypto-back/.idea/**
crypto-back/src/main/resources/application.properties
crypto-back/.env

#Front
crypto-front/package-lock.json
crypto-front/node_modules/**
crypto-front/.idea/**
crypto-front/coverage
crypto-front/build
crypto-front/.DS_Store
crypto-front/.env.local
crypto-front/.env.development.local
crypto-front/.env.test.local
crypto-front/.env.production.local
crypto-front/npm-debug.log*
crypto-front/yarn-debug.log*
crypto-front/yarn-error.log*
crypto-front/*.iml
crypto-front/.env
.env

